In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split 
from sklearn import metrics

In [ ]:
pima = pd.read_csv("/content/zoo_data.csv")

In [ ]:
pima.head()

,1,0,0.1,1.1,0.2,0.3,1.2,1.3,1.4,1.5,0.4,0.5,4,0.6,0.7,1.6,1.7
0,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
1,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
2,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
3,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
4,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1

In [ ]:
y=pima["1.7"]

In [ ]:
import numpy as np
y=np.array(y)
print(y)

[1 4 1 1 1 1 4 4 1 1 2 4 7 7 7 2 1 4 1 2 2 1 2 6 5 5 1 1 1 6 1 1 2 4 1 1 2
 4 6 6 2 6 2 1 1 7 1 1 1 1 6 5 7 1 1 2 2 2 2 4 4 3 1 1 1 1 1 1 1 1 2 7 4 1
 1 3 7 2 2 3 7 4 2 1 7 4 2 6 5 3 3 4 1 1 2 1 6 1 7 2]

In [ ]:
x=pima.drop(columns=["1.7"])

In [ ]:
x

    1  0  0.1  1.1  0.2  0.3  1.2  1.3  1.4  1.5  0.4  0.5  4  0.6  0.7  1.6
0   1  0    0    1    0    0    0    1    1    1    0    0  4    1    0    1
1   0  0    1    0    0    1    1    1    1    0    0    1  0    1    0    0
2   1  0    0    1    0    0    1    1    1    1    0    0  4    0    0    1
3   1  0    0    1    0    0    1    1    1    1    0    0  4    1    0    1
4   1  0    0    1    0    0    0    1    1    1    0    0  4    1    0    1
.. .. ..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ... ..  ...  ...  ...
95  1  0    0    1    0    0    0    1    1    1    0    0  2    1    0    1
96  1  0    1    0    1    0    0    0    0    1    1    0  6    0    0    0
97  1  0    0    1    0    0    1    1    1    1    0    0  4    1    0    1
98  0  0    1    0    0    0    0    0    0    1    0    0  0    0    0    0
99  0  1    1    0    1    0    0    0    1    1    0    0  2    1    0    0

[100 rows x 16 columns]

In [ ]:
#x=np.array(x)

In [ ]:
x

array([[1, 0, 0, ..., 1, 0, 1],
       [0, 0, 1, ..., 1, 0, 0],
       [1, 0, 0, ..., 0, 0, 1],
       ...,
       [1, 0, 0, ..., 1, 0, 1],
       [0, 0, 1, ..., 0, 0, 0],
       [0, 1, 1, ..., 1, 0, 0]])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x, y,test_size=0.2,random_state=4)

In [ ]:
clf = DecisionTreeClassifier()

clf = clf.fit(X_train,y_train)

y_pred = clf.predict(X_test)

In [ ]:
y_pred

array([2, 2, 6, 1, 1, 5, 1, 1, 7, 1, 1, 1, 1, 1, 7, 4, 7, 6, 1, 1])

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.95

In [ ]:
print("Confusion Matrix:\n",metrics.confusion_matrix(y_test, y_pred))

Confusion Matrix:
 [[11  0  0  0  0  0]
 [ 0  2  0  0  0  0]
 [ 0  0  1  0  0  0]
 [ 0  0  0  1  0  0]
 [ 0  0  0  0  2  1]
 [ 0  0  0  0  0  2]]

In [ ]:
print("Classification Report:\n",metrics.classification_report(y_test, y_pred))

Classification Report:
               precision    recall  f1-score   support

           1       1.00      1.00      1.00        11
           2       1.00      1.00      1.00         2
           4       1.00      1.00      1.00         1
           5       1.00      1.00      1.00         1
           6       1.00      0.67      0.80         3
           7       0.67      1.00      0.80         2

    accuracy                           0.95        20
   macro avg       0.94      0.94      0.93        20
weighted avg       0.97      0.95      0.95        20